/* noinspection CssInvalidAtRule */
@tailwind base;
/* noinspection CssInvalidAtRule */
@tailwind components;
/* noinspection CssInvalidAtRule */
@tailwind utilities;

/* noinspection CssInvalidAtRule */
@layer base {
  p {
    @apply mt-4 text-xl;
  }
}

/**
TODO: Fix transitions if it improves UX
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  transition: 0.3s ease-in-out left, 0.3s ease-in-out right,
    0.3s ease-in-out top, 0.3s ease-in-out bottom,
    /*0.3s ease-in-out background-color, 0.3s ease-in-out color,*/
      /*0.3s ease-in-out fill, */ 0.3s ease-in-out width,
    0.3s ease-in-out height;
}

.standard-transition {
  /*transition: 0.3s ease-in-out left, 0.3s ease-in-out right,*/
  /*  0.3s ease-in-out top, 0.3s ease-in-out bottom,*/
  /*  0.3s ease-in-out background-color, 0.3s ease-in-out color,*/
  /*  0.3s ease-in-out fill, 0.3s ease-in-out width, 0.3s ease-in-out height;*/
}

/*input::placeholder,*/
/*input::-ms-input-placeholder {*/
/*  transition: 0.3s ease-in-out color;*/
/*}*/

h1 {
  font-size: 2.4rem;
  margin-top: 128px;
}

h2 {
  font-size: 2rem;
  margin-top: 64px;
}

h3 {
  font-size: 1.6rem;
}

p {
  margin-top: 32px;
}

ul {
  margin-top: 16px;
}

li {
  list-style-type: circle;
  margin-left: 32px;
  margin-top: 8px;
  font-size: 20px;
}

pre {
  padding: 32px !important;
  background: #282c34;
  color: white;
  font-size: 1.4rem;
  margin-top: 16px;
  border-radius: 8px;
}

img {
  margin-top: 32px;
  width: 100%;
}

.date-tag {
  font-size: 1.2rem;
  margin-right: 16px;
  margin-bottom: 4px;
}

.article-tags {
  font-size: 1rem;
  padding: 4px 8px;
  color: white;
  margin-right: 16px;
  margin-bottom: 4px;
  border-radius: 4px;
  text-transform: uppercase;
}
